<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['dashboard']">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['todo']">Todo List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['todoredux']">Todo List (Redux Style)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['library']">Library</a>
  </li>

</ul>
